{% extends "base.html" %} {% block head %}
<title>Papper Lima Menit</title>
{% endblock %} {% block body %}

<div class="container-contact100">
    <p> Nama : Reival Muhamad Asyari Uzzukru</p>
        <p> NPM : 41155050210018</p>
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/" method="GET">
            {% if finalData == 1%}
            <span class="contact100-form-title">Positive Diabetes</span>

            {% else %}
            <span class="contact100-form-title">Positive Diabetes</span>
            {% endif %}
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            Selesai
                        </span>
                        </button>
                        </div>
                        </div>            
        </form>
            </div>
            </div>

  {% endblock %}
</div>
