{% extends "base.html" %} {% block head %}
<title>TUGAS15</title>
{% endblock %} {% block body %}

<div class="container-contact100">
  <div class="wrap-contact100">
    <form class = "contact-form validate-form" action="/" method="POST">
        <span class="contact100-form-title">TUGAS15</span>
        <p> Nama : Reival Muhamad Asyari Uzzukru</p>
        <p> NPM : 41155050210018</p>

        <div class="wrap-input100 validate-input">
            <span class="label-input100">Banyak Melahirkan</span>
            <input class="input100" type="text" name="melahirkan" placeholder="Masukan Jumlah Melahirkan" id="melahirkan" required>
            <span class="focus-input100"></span>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Kadar Glukoksa</span>
                <input class="input100" type="text" name="glukosa" placeholder="Masukan kadar glukosa" id="glukosa" required>
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tekanan Darah</span>
                <input class="input100" type="text" name="darah" placeholder="Masukan Tekanan Darah" id="darah" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tebal Kulit</span>
                <input class="input100" type="text" name="kulit" placeholder="Masukan Kadar Insulin" id="kulit" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Kadar Insulin</span>
                <input class="input100" type="text" name="insulin" placeholder="Masukan Kadar Insulin" id="insulin" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">BMI</span>
                <input class="input100" type="text" name="bmi" placeholder="Masukan BMI" id="bmi" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Riwayat Diabetes</span>
                <input class="input100" type="text" name="riwayat" placeholder="Masukan Riwayat Diabetes" id="riwayat" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Umur</span>
                <input class="input100" type="text" name="umur" placeholder="Masukan Umur" id="umur" required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            Predsiksi
                            <i class="fa fa-long-arrow-right m-1-7" aria-hidden="true"></i>
                        </span>
                        </button>
                        </div>
                        </div>
        </form>
  </div>
  {% endblock %}
</div>
